

@media (max-width:768px) {
    


.container {
    margin: 50px auto;
    padding: 20px;
    border-radius: 30px;
    width: 100%;
}


.columnOutlineTitle {
    font-size: 20px;
}

.columnOutlineList {
    font-size: 12px;
}


















































































































































































































}