@media (max-width:768px){

/* 全体 */
.container {
    padding: 20px 30px;
}

/* CRAFTとは */

.CRAFTexplanationHead {
    font-size: 20px;
}

.CRAFTlistTitleText {
    font-size: 20px;
}

/* 従来の仕組み */

.CRAFTfigure {
    flex-direction: column;
    gap: 100px;
}

.CRAFTarrow1  {
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
}

/* CRAFTの仕組み */


.CRAFTcircle {
    width: 150px;
    height: 150px;
    align-items: center;
}

.CRAFTcircle-img {
    width: 70px;
    height: 70px;
}

.arrowGroup1 {
    bottom: 50px;
}

.arrowGroup1_sp {
    width: 140px;
}

.CRAFTcircleDown {
    gap: 20px;
    bottom: -30px;
}

.arrowGroup2_sp {
    width: 100px;
    height: 60px;
}

/* CRAFTを選ぶべき理由 */


.CRAFTreason1 {
    flex-direction: column-reverse;
    align-items: center;
}

.CRAFTreason2 {
    flex-direction: column;
    margin: 0px;
} 

.CRAFTreason-img {
    width: 200px;
    height: 200px;
}

.CRAFTreasonP {
    overflow-wrap: break-word;
}

.CRAFTmoney-img {
    width: 150px;
    height: 100px;
    left: 50px !important;
    bottom: 50px !important;
}

.CRAFTbatu-img {
    width: 100px;
    height: 100px;
}













































}