/* エージェント企業管理画面のcss */

/* header */
.header {
    width: 100%;
    height: 95px;
    position: fixed;
    background-color: #fff;
    /* 水平・垂直方向の中央揃え */
    align-items: center;
    top: 0px;
    display: flex;
}

.header img {
    width: 280px;
    height: auto;
    margin: 0 60px 0 auto;
}

.header-logo {
    margin-left: 55px;
}

.header-all {
    background-color: #fff;
    /* 水平・垂直方向の中央揃え */
    align-items: center;
    top: 0px;
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}


/* footer */
.footer {
    background: rgba(0, 0, 0, 0.65);
    height: 60px;
    display: block;
    /* 水平・垂直方向の中央揃え */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.footer-copyright {
    color: #fff;
    font-size: 20px;
}

footer {
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
    padding: 30px;
}

/* body共通項目 */
/* .student-body{
    display: flex; 
    flex-flow: column; 
    min-height: 100vh; 
} */

.out-wrapper {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
    display: flex;
}
.login_wrapper{
    display: flex;
    /* フレックスボックスに有効に */
    flex-flow: column;
    /* 要素を縦に並べる */
    min-height: 100vh;
    /* 最小でも画面の高さ分のbodyの高さを担保する */
}

.login-container{
    background-color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 100px;
    text-align: center;
    border-radius: 80px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.login-title{
    margin-top: 0;
}

body {
    margin: 0;
}

.main-body {
    background: rgba(217, 217, 217, 0.8);
    margin-top: 40px;
    padding-top: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-container{
    background-color: #fff;
    width: 40%;
    margin: auto;
    padding: 100px;
    text-align: center;
    border-radius: 80px;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.3);
}

.top-heading {
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 30px;
}

.error-message {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

.form-tag {
    margin-bottom: 30px;
}

.form-label {
    color: rgba(0, 0, 0, 0.8);
    font-size: 21px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    text-align: left;
    width: 80%;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    display: block;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn {
    padding: 13px 0px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    background-color: #45aa7f;
    width: 80%;
    margin: 0 auto;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.submit:hover {
    background-color: #378c78f9;
}


.head-title {
    background-color: #3e9570;
    display: block;
    width: 90%;
    margin-bottom: 100px;
}

.title-text {
    color: #fff;
    margin: 9px auto 9px 20px;
}

.this-page {
    background-color: #fff;
}

.this-page a {
    color: #3e9570;
}

/* パスワード変更画面 */
.all-main {
    display: flex;
}


/* 管理者画面のサイドバー */
.side-container {
    width: 18%;
    background-color: #397;
    padding-top: 100px;
}

.side-sent {
    color: #fff;
    font-size: 20px;
    text-align: end;
}

.side-content {
    height: 80px;
    padding: 20px;
    position: relative; 
}

.side-content a{
    display: inline-block; /* ブロック要素に変更 */
    line-height: 40px; /* 要素の高さと一致する行の高さ */
    width: 100%; 
    height: 100%;
}

.choiced {
    background-color: #fff;
    color: #397;
}


/* エージェント企業一覧ページ */
.student-main-head{
    width: 90%;
}

.student-main-head-container {
    width: 100%;
    height: 60px;
    background-color: #397;
    display: flex;
    padding-left: 10px;
    align-items: center;
}

.student-main-head-sent {
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

.student-main-name{
    width: 90%;
}

.student-main-name-title {
    margin-top: 40px;
    font-size: 24px;
    color: #2F7859;
    font-weight: bold;
    padding-left: 25px;
}

.student-main-name-line {
    width: 100%;
    height: 3px;
    background-color: #397;
}


.student-main-table{
    width: 90%;
    margin-top: 30px;
}

.student-main-table-container{
    width: 100%;
}

.student-main-table-head {
    background-color: #bbb;
    height: 60px;
}

.student-main-table-contents {
    height: 60px;
}

.student-main-table-content{
    text-align: center;
    padding-left: 10px;
    vertical-align: middle;
    font-size: 14px;
}
.student-even {
    background-color: #ccc;
}

.caution-message{
    font-size: 15px;
}

.password-form{
    margin-top: 15px;
}

.error-message{
    font-size: 15px;
    margin-bottom: 15px;
}