/* authのcss */

/* authページ共通項目 */
.wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 最小でも画面の高さ分のbodyの高さを担保する */
}

body {
    margin: 0;
    background-color: #d9d9d9;
}

main {
    background-color: #d9d9d9;
    padding-top: 150px;
    flex: 1;
}

.container {
    background-color: #fff;
    width: 50%;
    margin: auto auto 50px auto;
    height: 80%;
    padding: 80px;
    text-align: center;
    /*インラインブロック要素の子要素を左右で中央寄せ*/
    border-radius: 70px;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.top-heading {
    display: inline-block;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-tag {
    margin-bottom: 30px;
}

.form-label {
    font-size: 21px;
    margin: 0 auto;
    margin-bottom: 8px;
    display: block;
    text-align: left;
    width: 80%;
}

.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 23px;
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.btn {
    padding: 13px 0px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    color: #fff;
    background-color: #297dba;
    width: 80%;
    margin: 0 auto;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.submit:hover {
    background-color: #0056b3;
}


/* ユーザー新規登録ページ */


/* ユーザーログインページ */
.CRAFT-img {
    text-align: center;
    margin-bottom: 30px;
}

.CRAFT-img img {
    width: 200px;
    object-fit: contain;
}