/* 総合特化選択画面　専用 */

p{
    opacity: 80%;
}


.body{
    background-color:#d9d9d9 ;
}

.wrapper{
    background-color: #fff;
    border-radius: 80px;
    margin: 150px;
    padding: 60px;
}


.choices{
    margin: 30px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sentence{
    margin-top: 18px;
    font-size: 16px;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.general{
display: flex;
flex-direction: column;
margin-top: 50px;
}

.container{
    border: 8px solid #297dba;
    height: 600px;
    width: 100%;
}

.slider-container{
    height:450px ;
    margin: 40px;
}

.slider{
    display: flex;
    flex-wrap: wrap;
}

.slide{
    margin:10px;
    width: 600px;
    height:500px ;
    border: 3px solid black;
    border-radius: 10px;
}

.slider-container .slide {
    height: 400px;
}

.slider-img{
    margin: 15px;
    width: all;
    height: 100px;
    background-color: #DDD;
}

.slider-titles{
    height: 30px;
    /* background-color: #AAA; */
    white-space: nowrap;
}

.slider-title{

    font-weight: bold;
    display: flex;
    justify-content: center;
}

.slider-subtitle{
    display: flex;
    justify-content: center;
    font-size: 10px;
}


.slider-tags{
    height: 30px;
    margin-top: 20px;
    display: flex;
}

.slider-tag{
    height: 24px;
    width: 55px;
    border-radius: 10px;
    margin-left:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-tagsent{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.big{
    background-color: #FF6666;
}

.small{
    background-color: #66bfff;
}

.tag_class {
    display: none;
}

.slider-contents{
    width: all;
    margin-left: 15px;
}

.choice-explanation-container{
    height: 50px;
}

.choice_explanation{
    font-size: 16px;
    word-wrap: break-word;
}

.general-searches{
    width: 780px;
    margin: auto;
    display: flex;
    gap: 40px;
    height: 50px;
}

.general-search{
    display: flex;
    width: 300px;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 5%;
}

.general-search-sentence{
    font-weight: bold;
    font-size: 20px;
}

.special-search{
    display: flex;
    width:600px;
    height: 150px;
    align-items: center;
    gap: 20px;
    border: 2px solid black;
    border-radius: 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-container{
    height: 700px;
}

.red{
    background-color: #ff6666;
}

.blue{
    background-color: #6bf;
}

.yellow{
    background-color: #fb4;
}

.green{
    background-color: #3b6;
}

.pink{
    background-color: #f8b;
}

.purple{
    background-color: #a6d;
}

.special-search1{
    width: 550px;
    display: flex;
    gap: 20px;
}

.checklist{
    display: flex;
    gap: -5px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.kyc-search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 550px;
    margin: 5px;
    border: solid 1px #aaa;
}

.kyc-search-box{
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
}

.sub-search{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.submit-container{
    display: flex;
    justify-content: center;
}

.submit{
    background-color: #ed4;
    width: 100px;
    height: 40px;
    border-radius: 10%;
}

.search-result {
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
}

.sub-search-image{
    background-color: #ddd;
    width: 100px;
    height: 60px;
}

.submit-container{
    margin-top: 10px;
}

.sub-search-container{
    margin-top: 10px;
}

.search-result{
    margin-top: 70px;
}

.search{
    margin-top:100px ;
}

.finished{
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}


.slick-arrow:before{
    content:""!important;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

.slick-next:before{
    background: url(../img/right.png)!important;
    background-size: contain!important;
}

.slick-prev:before{
    background: url(../img/left.png)!important;
    background-size: contain!important;
}


.slider-img {
    max-width: 100%; /* 親要素の幅に収まるように最大の幅を設定 */
    height: 50px; /* 親要素の高さに収まるように最大の高さを設定 */
    display: flex;
    padding: 15px;
    align-items: center;
    background-color: #fff;
    border:10px solid #ddd;
}

.slider-img img {
    width: 100%; /* 画像を親要素に合わせて幅を100%に設定 */
    max-height: 40px; /* アスペクト比を保つため、高さは自動で調整される */
}

.add-form{
    display: flex;
    justify-content: center
}

.add-button{
    width: 80px;
    border-radius: 10px;
    background-color: #ddd;
    font-weight:bold ;
}

.add-button:hover {
    background-color: #aaa; /* マウスが乗ったときの背景色を指定 */
    color: #fff;
}

.delete-button{
    width: 100%;
    background-color: #ed4;
    font-weight:bold ;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px 0 rgba(122, 108, 3, 0.495);
}
