/* entryフォルダ内ページのcss */

/* 申し込み完了ページ */
/* 申し込みが完了しました */
.complete_figureSection {
    margin-left: auto;
    margin-right: auto;
}

.complete_figure {
    display: inline-block;
    display: flex;
    text-align: center;
    flex-direction: column;
    text-align: center;
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #FFF;
    border: solid 10px #297DBA;
    border-radius: 40px;
    width: 600px;
}

.complete_figureText1 {
    margin: 15px 0;
}

.complete_figureText2 {
    margin: 20px;
}

.complete_checkmark {}

.complete_checkmark-img {}

.complete_figureContent {}

.complete_figureText1 {
    color: ;
    font-size: ;
}

.complete_figureText2 {
    color: ;
    font-size: ;
}

/* 今後の流れ */
.complete_flowSection {}

.complete_flowHead {}

.complete_flowHeadText {
    color: ;
    font-size: ;
    font-weight: bold;
}

.complete_flowHead-img {}

.complete_flowContent {}

.omplete_flowContentText {
    color: ;
    font-size: ;
    font-weight: bold;
}

.complete_flowContentPolygon {}

/* topページへ戻る */
.complete_topSection {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: rgba(237, 211, 70, 0.8);
    border: solid 3px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.complete_topButton {}