/* topフォルダ内にあるページのcss */

/* topフォルダ内ページ共通項目 */
body{
    margin: 0;
    background-color:#d9d9d9 ;
}

main {
    background-color: #d9d9d9
}

.container{
    background-color: #fff;
    width: 70%;
    margin: 100px auto;
    height: 90%;
    padding: 100px;
    text-align: center;/*インラインブロック要素の子要素を左右で中央寄せ*/
    border-radius: 80px;
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.3);
}


/* mainvisual */
.mainvisual {
    background: url(../img/mainvisual.jpg) center center /cover no-repeat;
    height: 100vh;
    padding: 170px 90px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.mainvisual-inner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.mainvisual-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.mainvisual-head-div {
    text-align: right;
    position: relative;

}

.mainvisual-title {
    font-size: 90px;
    color: #fff;
}

.mainvisual-lead {
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
}



.mainvisual-button {
    text-align: center;
    position: absolute;
    right: 0;
    padding: 21px 100px;
    background-color: rgba(237, 211, 70, 0.8);
    border-radius: 100px;
    margin-top: 30px;
    display: inline-block;
}


.mainvisual-button-title {
    font-size: 37px;
    font-weight: bold;
}

.mainvisual-button-lead {}


/* TOPの紹介ページ */

.card-container {
    display: flex;
    margin-top: 100px;
}

.card-figure {
    flex-grow: 1;
}

.card-img {
    width: 300px;
}

.card-content {
    flex-grow: 1;
}

.card-content-head {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card-content-title {
    font-size: 27px;
    font-weight: bold;
    color: #297DBA;
}

.card-content-button {
    margin-left: 30px;
    background-color: #297DBA;
    color: #fff;
    padding: 5px 20px;
    border-radius: 50px;
    
}

.card-content-text {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
}

.card-content-text p {
    text-align: left;
    line-height: 50px;
}

/* section */


.wrapper {
    background-color: #f5f5f5;
}


/* CRAFTとは */
.CRAFTmainVisual{
    background-color: #fff;
}

.CRAFTexplanationHead {
    font-size: 32px;
    text-shadow: 1px 2px 3px #808080;
    text-align: center;
    margin: 40px;
}

.CRAFTexplanationWrapper {
    text-align: center;
}

.CRAFTexplanationBody {
    display: inline-block;
    background: rgba(169, 214, 246, 0.3);
    font-size: 16px;
    border-radius: 40px;
    margin: 0 auto;
    padding: 32px 48px;
}

.CRAFTlistTitle {
    text-align: center;
}

.CRAFTlistTitleText {
    display: inline-block;
    border-bottom: 10px solid;
    border-image: linear-gradient(to right, #297DBA 0%, #9EB9CC 100%);
    border-image-slice: 1;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0 20px 0;
}

.CRAFTlistContent {
    text-align: center;
}

.CRAFTlistContentTEXT {
    display: inline-block;
    text-align: left;
}

/* 従来の仕組み */
.CRAFTlist1{
    margin: 50px;
}
.CRAFTfigure {
    display: flex;
    justify-content: space-around;
}

.CRAFTfigure-img{
    margin: 30px 0 0 0;
    text-align: center;
}
.CRAFTpeople {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

.CRAFTpeople1 {
    text-align: center;
    margin: 10px;
}
.CRAFTarrow1 {
    display: flex;
    align-items: center;
}
/* CRAFTの仕組み */
.CRAFTlist2{
    margin: 50px;
}
.CRAFTcircle {
    display: inline-block;
    width: 600px;
    height: 600px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
    border: solid 5px rgba(0, 0, 0, 0.8);
    /* position: absolute; */
    left: 30%;
}

.CRAFTcircle-img {
    height: 150px;
    background-size: cover;
}

.circleCRAFT {
    /* position: relative; */
}

.CRAFTcircleDown {
    display: flex;
    gap: 300px;
}

/* CRAFTを選ぶべき理由 */
.CRAFTlist3{
    margin: 50px;
}
.CRAFTreason-img {
    background: rgba(169, 214, 246, 0.3);
}

.CRAFTreasonTitle {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #297DBA;
}

.CRAFTreasonMain {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.CRAFTreason1 {
    display: flex;
    justify-content: space-around;
}

.CRAFTreason2 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.CRAFTreason2text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}

/* コラムページ */
/* 目次 */
.columnOutline {
    left: auto;
}

.columnOutlineTitle {
    color: rgba(0, 0, 0, 0.8);
    font-size: 28px;
    text-align: left;
    font-weight: bold;
}

.columnOutlineContent {
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    margin: 10px 0px 40px 0px;
}


.columnHead {
    background-color: #297DBA;
}

.columnTitleText {
    padding-left: 30px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    align-items: center;
    height: 60px;
}

.column-img {
    display: flex;
    align-items: flex-start;
    width: 500px;
    margin: 40px 0px 20px 0px;
}

.columnList {
    display: flex;
    justify-content: end;
}

.column-text {
    margin-bottom: 40px;
    text-align: left;
}

.column-textTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #297DBA;
    padding: 8px 19px;
    margin: 2em 0;
    margin-top: 40px;
    border-top: solid 2px #297DBA;
    border-bottom: solid 2px #297DBA;
}