/**
*ヘッダー
*/
.header{
    display: flex;
    align-items: center;
    height: 70px;
    top: 0;
    left: 0;
    /* width: 100%; */
    background-color: #fff;
    padding: 0 250px;
    justify-content: center;
}

.header-logo {
    width: 120px;
    height: 60px;
    padding: 10px 0;
    justify-content: center;
}

.header-logo img{
    width: 100%;
}

.header-nav{
    align-items: center;
    margin-left: auto;
}

.header-navList{
    display: flex;
    gap: 32px;
}

.header-navLink{
    font-size: 15px;
}

/**
*フッター
*/
.footer{
    text-align: center;
    padding: 10px 0;
}

/**
*メインビジュアル
*/
.mainvisual img{
    width: 100%;
    max-width: 1920px;
    height: 600px;
    margin-bottom: 80px;
}

/**
*abouセクション
*/

.section{
    margin-bottom: 80px;
}

.section-head{
    text-align: center;
}

.title{
    /* text-align: center; */
    font-size: 36px;
    line-height: 1.5;
    letter-spacing: .05em;
    display: inline-block;
    font-weight: bold;
    border-bottom: solid 1px;
}

.section-body{
    margin-top: 60px;
    display: flex;
}

.name{
    margin: 10px 0;
    font-weight: bold;
}

.about-image{
    width: 15%;
    margin-left: 30%;
}
.about-image img{
    border-radius: 50%;
    width: 50%;
}

.about-text{
    display: flex;
    flex-direction: column;
}

/**
*Bicycleセクション
*/
.item-list
{
    display: flex;
    align-items: center;
    margin:0 280px;
}

.bicycle-item{
    width: 300px;
    text-align: center;
    margin: 10px 10px;
}

.bicycle-item img{
    width: 100%;
}

.bicycle-itemImage{
    margin-bottom: 15px;
}

.bicycleName{
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: 10px;
}
